{{>header}}
   <div class="container mt-4">
    <div class="row">
        <div class="col-sm-6">
            <img src="https://placehold.co/600x400" alt="">
        </div>
        <div class="col-sm-6">
            <h1>Blog Name</h1>
            <h3>Category tag</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptates labore ipsum aliquam laudantium delectus, odit asperiores praesentium quam aspernatur repudiandae dolorem excepturi quaerat numquam odio iste sapiente tempore tempora.
            </p>
        </div>
    </div>
   </div>
{{>footer}}